<div class="body-container">
    <div class="container-home">
      <% @items = Refinery::News::Item.latest(5) %>
      <%= render :partial => '/refinery/news/items/recent_posts' %>
      <div class="row">
        <div class="page-header col-md-4 col-lg-6">
          <h1><%= @page.title %></h1>
          <%=raw @page.content_for(:body) %>
        </div>
        <div class="col-md-8 col-lg-6">
          <h1>Agenda</h1>
          <div id="bfbvm-agenda">
            <%= image_tag 'gif-load.gif', class: 'loading-gif', id: 'booking-loading' %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
</div>


