<div class="body-container">
    <div class="container-home">
      <div class="page-header">
        <h1><%= @page.title %></h1>
      </div>

      <%=raw @page.content_for(:body) %>

    </div>
</div>