<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <ul class="actions">
            <li><a href="http://www.youtube.com/user/bfbvm/" class="fa fa-youtube"><span>&nbsp;</span></a></li>
            <li><a href="http://www.facebook.com/BFAHBVMogadouro" class="fa fa-facebook"><span>&nbsp;</span></a></li>
            <li><a href="http://plus.google.com/+BfbvmPt" class="fa fa-google-plus"><span>&nbsp;</span></a></li><!--
            <li><a href="#" class="fa solo fa-dribbble"><span>Dribbble</span></a></li>
            <li><a href="#" class="fa solo fa-pinterest"><span>Pinterest</span></a></li>
            <li><a href="#" class="fa solo fa-instagram"><span>Instagram</span></a></li>-->
            <li><a href="https://soundcloud.com/bfbvm" class="fa fa-cloud"><span>&nbsp;</span></a></li>
            <li><a href="mailto:geral@bfbvm.pt" class="fa fa-envelope"><span>&nbsp;</span></a></li>
          </ul>
        </div>
        <div class="col-sm-8 text-right">
          <p class="footer-paragraph">
            © Banda Filarmónica da Associação Humanitária dos Bombeiros Voluntários de Mogadouro
        </p>
        </div>
      </div>
    </div>
</footer>