/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require_tree .

/*
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "show";
@import "homepage";
@import "news";

/*@import "font-awesome-sprockets";
@import "font-awesome";*/

$bfbvm-color: #3B72D9;

@mixin create-background($backgroundpic) {
  background: image_url($backgroundpic) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.wrapper {
  background-color: #eee;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background1 {
  @include create-background('background1.jpg');
}

.background2 {
  @include create-background('background2.jpg');
}

.background3 {
  @include create-background('background3.jpg');
}

.background4 {
  @include create-background('background4.jpg');
}

.background5 {
  @include create-background('background5.jpg');
}

.background6 {
  @include create-background('background6.jpg');
}

.background7 {
  @include create-background('background7.jpg');
}

.footer {
  width: 100%;
  height: 60px;
  background-color: rgba(59, 114, 217, 0.86);
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    .text-muted {
      margin: 20px 0;
      color: #eee;
    }
    .row {
      * {
        .actions {
          font-size: 32px;
          margin: -32px auto;
          padding: 0;
        }
      }
    }
  }
}

.navbar-default {
  background-image: none;
  background-color: rgba(59, 114, 217, 0.86);
  border: 0;
  background-repeat: repeat-x;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar {
  min-height: 70px;
}

#navbar {
  float: right;
}

.navbar-default .navbar-brand {
  color: #eee;
}

.navbar {
  z-index: 9999;
}

.dropdown-menu {
  background-color: rgba(59, 114, 217, 0.86);
  > li {
    height: 60px;
    font-size: large;
    text-align: center;

    > a {
      line-height: 60px;
      color: #FFF;
    }
    > a:hover {
      background-color: inherit;
      color: #FFF;
      text-decoration: underline;
    }
  }
}

.navbar-default {
  .navbar-nav {
    > li > a {
      color: #FFF;
      &:hover {
        color: #FFF;
      }
    }
  }
  .navbar-toggle {
    .icon-bar {
      background-color: white;
    }
    border-color: white;
  }
  .navbar-collapse {

    .navbar-nav {
      float: right;

      li {


        a {
          padding: 1em;
          text-align: center;
        }
        a:hover {
          color: #fff;
        }

        .active > a {
          color: #eee;
          background-color: rgba(189, 78, 89, 0.42);
          &:focus, &:hover {
            color: #eee;
            background-color: rgba(189, 78, 89, 0.42);
          }
        }

        .open > a {
          color: #eee;
          background-color: rgba(189, 78, 89, 0.42);


          &:focus, &:hover {
            color: #eee;
            background-color: rgba(189, 78, 89, 0.42);


          }
        }
      }
    }
  }
}



@media (max-width: $screen-sm) {
  .navbar-default {
    .navbar-collapse, .navbar-form {
      border-color: #ff4b4b;
      margin-top: 30px;
      overflow: hidden;
      .navbar-nav {
        float: none;
      }
    }
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    line-height: 60px;
  }

  .body-container {
    > .right-container {
      margin-right: 0;
      width: 90vw;
    }

    .container-home {
      #bfbvm-agenda {
        max-height: none;
      }
    }
  }
}

.navbar-default h4 {
  color: #eee;
}

.navbar-brand {
  > img {
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 0;
    margin-top: -1em;
  }
  padding: 0 0 0 1em;
  margin-right: 2em;
}

@media (max-width: 350px) {
  .navbar-brand {
    h4 {
      font-size: 16px;
    }
    padding: 0 0 0 0.3em;
    margin-right: 0;
  }

}

/*
@media (max-width: 814px) {
    .navbar-brand > img {
        max-height: 110%;
    }
    .navbar-brand > .inline-block > h4 {
        font-size: 0.7em;
    }
}
*/

.inline-block {
  display: inline-block;
}

.navbar-nav > li > a {
  padding: 45px 20px 0 20px;
  vertical-align: middle;
  min-height: 70px;
}

.actions {
  line-height: 4em;
  margin: 0px;
  list-style: outside none none;
  cursor: default;
  overflow: hidden;
  color: #eee;
  li {
    display: inline;
    color: #eee;
    a {
      color: #eee;
    }
  }
}

.footer-paragraph {
  line-height: 4em;
  margin: 0px;
  color: #eee;
}
