.bfbvm-content {
  height: 70vmin;

  .bfm-page-header {
    background-color: #ffffff;
    h1{
      border-bottom: 1px solid #666666;
    }

  }
  .bfm-right-container {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .bfm-right-container {
    height: 100%;
    #gallery {
      position: relative;
      height: 100%;
      div {
        position: absolute;
        top: 0;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        z-index: 1000;
        margin-top: 25px;
      }
    }
  }
}

